*{
    padding: 0;
    margin: 0;

}
html{
    background-color: black;
}
body{
    background-image: url(imagen/fondo1.jpeg);
    height: 640px;
    width: 1200px;
    margin: auto;
}
header{
    display: flex;
 justify-content: space-between;
 align-items: center;
}
#foto{
     overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    background-color: rgb(15, 178, 243);
    height: 50px;
    width: 1200px;
    float: left;
    margin: 0px;
}

nav ul{
    background-color: rgb(255, 255, 255);
width: 1165px;
height: 60px;
list-style-type: none;
text-align: center;
 border-radius: 15px;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: rgb(29, 145, 77);
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: rgba(20, 19, 18, 0.514);
}
#nav{

    width: 550px;
    margin: 0px;

    }
    p{
        width: 150px;
        height: 300px;
        margin: auto;
    }
   